@use '../abstract/breakpoints' as br;
@use '../abstract/variables' as var;

.main-bg {
  background-image: linear-gradient(180deg, rgba(3, 7, 50, 0.634) ,#020946), url('../images/bg-1.jpeg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  @include br.md {
    background-size: contain;
  }
}

.bg-white-1 {
  background-color: var.$white-4;
}



.bg-1 {
  background-color: var.$black-6;
}

.bg-gray-1 {
  background-color: var.$gray-3;
}

.bg-gray-2:not(.label) {
  @include br.lg {
    background-color: var.$gray-11;
    min-width: 80px;
  }
}

.bg-skew {
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(24, 41, 86, 0.00) 0%, #285BDF 100%);
	inset: 0 0 0 0;
  padding: 0 4em;
	z-index: -1;

	@include br.lg {
		transform: skew(-10deg);
	}

  box-sizing: content-box;

  &:is(.lg) {
    inset: 0 -15% 0 -15%;
  }

  &:is(.md) {
    display: none;

    @include br.lg {
      display: block;
      transform: skew(-10deg);
    }
  }
}

.bg-skew-2 {
  &::before {
    content: '';
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(24, 41, 86, 0.00) 0%, #285BDF 100%);
    position: absolute;
    inset: 0 0 0 0;
    transform: skew(-45deg);
    z-index: -10;
  }
}

.bg-skew-3 {
  &::after {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(24, 41, 86, 0.00) 0%, #285BDF 100%);
    position: absolute;
    inset: 0 0 0 0;
    transform: skew(-15deg);
    z-index: -10;
    display: none;

    @include br.lg {
      display: block;
    }
  }
}

.bg-skew-4 {
  &::after {
    content: '';
    display: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(24, 41, 86, 0.00) 0%, #285BDF 100%);
    position: absolute;
    inset: 0 5% 0 5%;
    transform: skew(-15deg);
    z-index: -10;

    @include br.lg {
      display: block;
    }
  }
}

.bg-skew-5 {
  &::after {
    content: '';
    background: 
      linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0.20) 0%, 
      rgba(0, 0, 0, 0.20) 100%
      ), 
      linear-gradient(
        180deg, 
        rgba(24, 41, 86, 0.00) -2.37%, 
        #285BDF 99.63%
      );
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    z-index: -100;
    transform: skew(-4deg);
  }
}


@include br.md {
  .md-bg-gray-1 {
    background-color: var.$gray-3;
  }
}