.icon-1 {
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;
}

.icon-2 {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  filter: invert(13%) sepia(93%) saturate(7256%) hue-rotate(358deg) brightness(93%) contrast(117%);
}