$blue-1: hsl(205, 86%, 14%);
$blue-2: hsl(227, 99%, 55%);
$blue-3: hsl(241, 100%, 68%);
$blue-4: hsla(241, 100%, 44%, 0.92);
$blue-5: hsl(223, 74%, 52%);
$blue-6: hsl(240, 64%, 27%);
$blue-7: hsl(180, 11%, 95%);
$blue-8: hsla(240, 64%, 27%, 0.678);
$blue-9: rgba(7, 6, 36, 0.92);
$blue-10: hsl(215, 14%, 77%);
$blue-11: hsl(202, 77%, 56%);
$blue-12: hsl(223, 49%, 33%); // #2b437f
$blue-13: hsl(201, 80%, 10%); // #051f2d
$blue-14: hsla(223, 49%, 33%, 0.774); 
$blue-15: hsl(210, 50%, 60%); // #69C
$blue-16: hsl(205, 86%, 14%); // #052942

$white-1: hsl(0, 0%, 100%);
$white-2: hsl(0, 8%, 88%);
$white-3: hsl(0, 0%, 99%);
$white-4: hsl(0, 0%, 96%);


$gray-1: hsl(223, 29%, 66%);
$gray-2: hsla(180, 11%, 95%, 0.6);
$gray-3: hsl(0, 0%, 96%);
$gray-4: hsl(0, 0%, 48%); // #7a7a7a
$gray-5: hsl(0, 0%, 81%);
$gray-6: hsl(0, 0%, 79%);
$gray-7: hsl(0, 0%, 85%); // #d8d8d8
$gray-8: hsl(0, 0%, 27%); // #444
$gray-9: hsl(240, 10%, 90%); // #e3e3e8
$gray-10: hsl(0, 0%, 90%); // #e5e5e5
$gray-11: hsl(0, 0%, 75%); //#bfbfbf
$gray-12: hsla(180, 11%, 95%);

$black-1: hsl(0, 0%, 0%);
$black-2: hsl(0, 0%, 20%);
$black-3: rgba(0, 0, 0, 0.20);
$black-4: hsl(240, 1%, 23%); // #3a3a3b
$black-5: hsl(0, 0%, 1%); // #020202
$black-6: hsl(0, 0%, 21%); // #353535
$black-7: hsl(0, 9%, 9%); // #191515
$black-8: hsl(210, 3%, 29%); // #494b4d
$black-9: rgba(0, 0, 0, 0.651);
$black-10: rgba(0, 0, 0, 0.25);

$green-1: hsl(116, 46%, 49%); // #4BB543
$green-2: hsl(84, 68%, 28%); // #517717
$green-3: hsl(68, 88%, 10%); // #2b3103

$red-1: hsl(357, 94%, 51%); // #F70D1A
$red-2: hsl(5, 69%, 35%); // #95251b
$red-3: hsl(9, 67%, 12%); // #33100a

$brown-1: hsl(36, 43%, 48%);
$brown-2: hsl(41, 45%, 54%);

$transition-1: all ease-in-out 250ms;

$font-inter: 'Inter', sans-serif;
$font-holtwood: 'Holtwood One SC', serif;
$font-montserrat: 'Montserrat Alternates', sans-serif;
$font-fugas: 'Fugaz One', cursive;
$font-saira: 'Saira Condensed', sans-serif;
$font-lora: 'Lora', serif;

// 16px is the base size
$fs-1: 2rem; // 32
$fs-2: 1.5rem; // 24
$fs-3: 2.5rem; // 40
$fs-4: 1.4rem; // 22.4
$fs-5: 1.8rem; // 24
$fs-6: 1.875rem; // 30
$fs-7: 0.8rem; // 12
$fs-8: 1.8rem; // 28.8
$fs-9: 1.2rem; // 19.2
$fs-10: 2.75rem; // 44
$fs-11: 2.063rem; // 33
$fs-12: 4rem; // 64
$fs-13: 1.25rem; // 20
$fs-14: 0.938rem; // 15
$fs-15: 3rem; // 48